body {
  background-color: #212032;
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: "transparent";
  /* #212032; */
}

::-webkit-scrollbar-thumb {
  background: #1178f880;
}

::-webkit-scrollbar-thumb:hover {
  background: #1178f8;
}

.video-cover video {
  object-fit: cover;
}

.video-contain video {
  object-fit: contain;
}
